venv/
tests/
logs/
__pycache__/
apicalls/__pycache__/
apicalls/yfinance.cache
apicalls/fetchClosingPricesFromYahooToMongo.py
*.pyc
run_nasdaqApiCall.sh
prompt.txt
config.py
yfinance.cache
old_prompt.txt
old_prompt2.txt
old_prompt3.txt